.utama{
    box-sizing: border-box;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.container-utama{
    max-width: 100vw;
    height: 100px;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

@media screen and (min-width:900px) {
    .container-utama {
        height: 100vh;
        max-height: 100vh;
        align-items: center;
        overflow: hidden;
    }
}

.container-utama .container-utama-inner {
    width: 100;
    max-width: 1280px;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    padding: 7.5px;
    display: flex;
    position: relative;
}

@media screen and (min-width: 900px) {
    .container-utama .container-utama-inner {
        max-height: 791px;
        height: 100vh;
    }
}

@media screen and (min-width: 500px) {
    .container-utama .container-utama-inner {
        padding: 20px
    }
}

.NameA {
    pointer-events: none;
    position: relative;
    right: 645px;
    bottom: 20px;
}

@media screen and (min-width: 500px) {
    .NameA {
        width: 300px;
        height: 300px;
        opacity: 1;
    }
}

.garis {
    stroke: #62a0a0;
    stroke-width: 15px;
    stroke-linecap: round;
}

.garis-samping {
    stroke: #756767;
    stroke-width: 11px;
    stroke-linecap: round;
}

.N {
    stroke: #302e2c;
    stroke-width: 15px;
    stroke-linecap: round;
}

.container-utama .container-utama-inner {

}